@font-face {
    font-family: crock;
    src: url(crock.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    box-sizing: inherit;
    touch-action: manipulation;
}

body {
    background: none !important;
}
div {
    padding-left: 1vh;
    padding-right: 1vh;
    height: 90%;
    width: 100%;
}
img {
    visibility: none;
    width: 80%;
    height: 80%;
}
.paper{

    width:30%;
    height:80%;
    background-position: 50% 50%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    position: absolute;
    top: 10%;
    left: 35%;
  }
  #send {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 25px;
    width: 90%;
    height: 38px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
   /*  background-image: url('images/button.png'); */
    background-size: 100% 100%;

    transition-duration: 0.4s;
}
  #desc { 
    color: white;
    height: 80%;
    width: 85%;
    border: solid transparent;
    word-wrap:break-word;
    margin-top: 4vh;
    margin-left: 0vw;
    padding: 8vh;
    float: left; 
    font-size: 120%;
    word-wrap:break-word;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-image: url('images/Sin-nombre2.png');
    background-size: 100% 100%;
    overflow: hidden;
    outline: none;
    background-color: transparent;
    background-repeat: no-repeat;
  }

th { 
    color: white;
    font-size: 2vh;
    width: 40vh;
    text-align: center;
}
::-webkit-scrollbar {
    width: 6px;
  }
::-webkit-scrollbar-track {
    background: rgb(73, 73, 73); 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #b3b3b3; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    border-radius: 10px;
    background: rgb(39, 39, 39); 
  }

.align-left {
    text-align: left;
    left: -15px;
}

#container {
    -webkit-user-drag: element;
    display: block;
    padding: 1vh;
    color: rgb(255, 255, 255);
    position: absolute;
    top: 70%;
    left: 85%;
    transform: translate(-50%, -50%);
    width: 30vh;
    height: 36vh;
    background-image: url('images/Sin-nombre2.png');
    background-size: 100% 100%;
}

#x {
    visibility: hidden;
    position: absolute;
    top: 1%;
    width:50%;
    height:50%;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(5, 17vh);
    grid-template-rows: repeat(30, 28vh);
    margin-left: -5%;
    padding: 2vh;
    justify-items: center;
    align-content: stretch;
    justify-content: center;
    align-items: center;
 }
 
 #container2 {
    -webkit-user-drag: element;
     display: block;
     padding: 1vh;
     font-size: 2vh;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 50%;
     left: 46%;
     transform: translate(-50%, -50%);
     width: 70%;
     height: 90%;
     background-image: url('images/Sin_nombre.png');
     background-size: 100% 100%;
     border: none;
     overflow: hidden;
     outline: none;
     background-color: transparent;
     background-repeat: no-repeat;
 }

 #container3 {
     visibility: hidden;
     display: block;
     overflow: hidden;
     outline: none;
     font-size: 22px;
     color: rgb(255, 255, 255);
     position: absolute;
     top: 50%;
     left: 50%;
     width: 70vh;
     height: 90vh;
     transform: translate(-50%, -50%);
     background-image: url('images/Sin-nombre2.png');
     background-size: 100% 100%;
     overflow: hidden;
     outline: none;
     background-color: transparent;
     background-repeat: no-repeat;
    }

#ListButton2 {
    position: relative;
    overflow: auto;
    margin-top: 20vh;
    margin-left: 6%;
    height: 70%;
    width: 92%;
}
 

input {
    /* background-image: url('images/button.png'); 
    background-color: rgba(70, 70, 70, 0.274);
    background-size: 100% 100%;*/
    color: rgb(255, 255, 255);
    border: none;
    overflow: hidden;
    outline: none;
    text-align: center;
    font-size: 2vh;
    margin-left: 3vh;
    width: 70%;
    background-color: #00000038;
    background-repeat: no-repeat;
    transition: all 0.2s ease-in-out;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: crock;
    font-size: 3vh;
    margin-top: 1vh;
    margin-bottom: -4vh;
    margin-left: 0.5em;
    margin-right: 0;
    padding-top: 2.5vh;
    width: 85%;
    height: 15%;
    background-image: url('images/background3.png');
    background-size: 100% 100%;
}

input[type=submit] {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vh;
    width: 70%;
    height: 3vh;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* background-image: url('images/button.png'); */
/*     background-color: rgba(70, 70, 70, 0.274);
    background-size: 100% 100%; */

    transition-duration: 0.4s;
}
input[type=submit]:hover {
    color: white;
     background-color: transparent;
    background-image: url('images/public-red.png');
    background-size: 100% 100%; 
}

#close {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vh;
    width: 70%;
    height: 3vh;
    margin-left: 3vh;
    /* background-color: rgba(0, 0, 0, 0.3); */
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* background-image: url(images/button.png); */
    background-size: 100% 100%;
    transition-duration: 0.4s;
}
#close:active {
    transform: translateY(4px);
}

#close:hover {
    color: white;
    background-color: transparent;
    background-image: url('images/public-black.png');
    background-size: 100% 100%;
}
/* 
#back {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vh;
    width: 70%;
    height: 3vh;
    margin-top: 1vh;
    margin-left: 3vh;

    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;

    background-size: 100% 100%;
    transition-duration: 0.4s;
}
#back:active {
    transform: translateY(4px);
}

#back:hover {
    color: white;
    background-color: transparent;
    background-image: url('https://cdn.discordapp.com/attachments/1086264368234254477/1094473814198456430/public-black.png');
    background-size: 100% 100%;
}
 */
#send {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 2vh;
    width: 70%;
    height: 3vh;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* background-image: url(images/button.png); */
    background-size: 100% 100%;
    transition-duration: 0.4s;
}

#send:active {
    transform: translateY(4px);
}

#send:hover {
    color: white;
    background-color: transparent;
    background-image: url('images/public-yellow.png');
    background-size: 100% 100%;
}

button {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    /* background-image: url('images/button2.png'); */
    background-size: 100% 100%;

    transition-duration: 0.4s;
}
button:active {
    transform: translateY(4px);
}

button:hover {
    color: white;
    background-color: transparent;
    background-image: url('images/public-black.png');
    background-size: 100% 100%;
}

/* button2 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    background-image: url('https://cdn.discordapp.com/attachments/1086264368234254477/1097323702812672000/Sin-nombre2.png'); 
    background-size: 100% 100%;

    transition-duration: 0.4s;
} */